#body-index{width:980px;height:660px;margin-top:-15px;position:relative;background:url('../img/bg.gif')}
#index-left{width:width:197px;height:604px;position:absolute;top:37px;}
.clearfix{list-style:none;width:197px;height:122px;} 
.clearfix li{float:left;width:56px;font:12px/24px 宋体;padding-left:8px}li a{color:black;text-decoration:none}
h2{font-size:14px;color:red;padding:7px 0 0 10px}
#body-pic{width:524px;height:190px;position:absolute;left:21.7%;top:1%;}
.ig{position:absolute}
.btn{position:absolute;width:10px;height:30px;background:rgba(0,0,0,0.5);color:white;line-height:30px;top:50%;margin-top:-15px;cursor:pointer;}
.btn2{left:100%;margin-left:-22px}
.tabs{position:absolute;top:100%;margin-top:-30px;left:50%;margin-left:-55px}
.tab{height:20px;width:20px;background:pink;float:left;margin-left:5px;line-height:20px;text-align:center;border-radius:100%;cursor:pointer}
.bg{background:red}
.tab2{width:228px;height:196px;position:absolute;left:100%;margin-left:-230px;top:36%}
.tab2 li{list-style:none;background:#F7E3A8;width:112px;height:20px;font-size:12px;float:left;border:#DA9652 1px solid;border-radius:0px 5px;cursor:pointer;}
.content-left{width:228px;height:165px;position:absolute;top:15%;left:-2%;display:none}
p{font-weight:bold}
.content-right{width:228px;height:165px;position:absolute;top:15%;left:-2%;}
select{width:65px;border:blue 1px solid;}


