#middle{width:978px;height:400px;background:url('../img/reg_bg.gif') no-repeat;margin-top:-15px }
table{width:978px;height:300px;font-size:14px;padding-top:30px}
.submit{background:url('../img/submit.gif')no-repeat;width:80px;height:34px;}
.reset{background:url('../img/reset.gif')no-repeat;width:80px;height:34px}